.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  grid-gap: 30px;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.EndScreen{
  display: none;
}
.grid{
  display: none;
  grid-template-columns: repeat(10, 30px);
  grid-template-rows: repeat(10, 30px);
}
.kocka{
  background-color: blue;
  border: 1px solid black;
  cursor: pointer;
  color: transparent;
  font-weight: bold;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}
.kocka:hover{
  opacity: 0.8;
}

.start button{
  padding: 10px 30px;
  background-color: blue;
  color: white;
  cursor: pointer;
}
.start button:hover{
  opacity: 0.8;
}
.restart{
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items:stretch;
  grid-gap: 10px;
}
.restart .flags{
  color: yellow;
  background-color: black;
  padding: 10px;
  margin: 0;
}
.restart .openFields{
  color: white;
  background-color: lightseagreen;
  padding: 10px;
  margin: 0;
}
.restart button{
  padding: 10px 30px;
  background-color: blue;
  color: white;
  cursor: pointer;
}
.restart button:hover{
  opacity: 0.8;
}
#nula{
  color: transparent !important;
}